img[title="Application icon"] {
    width: 130px;
    float: left;
    margin-right: 1em; 
}

table img[title="Application icon"] {
    width: 160px;
    float: none;
}

ul li img {
    vertical-align: middle;
}
